.rar-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */

}


.rar-box {
    width: 400px;
    margin: 2rem 6rem;
    /* border: 3px solid black; */
    align-self: stretch;
    /* margin-top: 29px; */

}

.box-text {
    color: #3e87c3;
    font-weight: 400;
    text-align: center;
    margin-top: 29px;
}

.rar-img {
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 20px -5px #3e87c3;
    display: block;
    margin: auto;
}

.demo {
    height: 36px;

    /* border: 3px solid black; */
}

.sec-rating {
    text-align: center;
}

.para {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 20px;
}

.heading h1 {
    font-size: 45px;
    color: #3e87c3;
    border-bottom: 5px solid #3e87c3;
}

@media screen and (max-width:989px) {
    .rar-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rar-box {
        width: 90%;
        margin: auto;
    }

    .heading h1 {
        font-size: 30px;
    }
}