.rar-cont {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */

}
.heading {
    font-size: 45px;
}
.heading::after{
    content:'';
    height:4px;
    width:80%;
    background:#3e87c3;
    position:absolute;
    left:calc(20% - 10%);
    bottom:-5px;
    
  }
.rar-box {
    width: 400px;
   margin: 2rem 6rem;
    /* border: 3px solid black; */
    align-self: stretch;
    /* margin-top: 29px; */
    
}

.box-text {
    color: #3e87c3;
    font-weight: 400;
    text-align: center;
    margin-top: 29px;
}

.rar-img {
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 20px -5px #3e87c3;
    display: block;
    margin: auto;
}

.demo {
    height: 36px;

    /* border: 3px solid black; */
}
.sec-rating {
    text-align: center;
}

.para {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 20px;
}