.dashboard-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.dash-head h1 {
    font-size: 45px;
    border-bottom: 5px solid #3e87c3;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #3e87c3;
}


.dash-order-1 {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}