.dashboard{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.dashboard-title{
    flex: 0.6;
    font-size: 40px;
    color:#3e87c3;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-heading::after{
    content:'';
    height:4px;
    width:20%;
    background:#3e87c3;
    position:absolute;
    left:calc(50% - 10%);
    top:155px;
  }

.dashboard-a{
    flex: 1.8;
    /* border: 2px solid yellow; */
    display: flex;
}

#imagess{
    height : 3rem;
    margin: auto;
    /* margin-bottom: px; */
    display: block;
}
.option1{
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.tag{
    /* border: 2px solid red; */
    flex: 0.7;
}
.option-content{
    /* border: 2px solid red; */
    flex: 1;
}
.option2{
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.option3{
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.option4{
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-buttons{
    
    font-size: 20px;
    color:#3e87c3;
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    background-color: lightgray;
    height: 15vh;
    border-radius: 50px 50px 50px 50px;
    width: 60%;
    /* outline: none;
    cursor: default; */
    /* pointer-events: none; */
  /* user-select: none;
  cursor: default; */
}

.dashboard-b{
    flex: 0.5;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#3e87c3;
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
}

.dashboard-c{
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
}  