@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,1000;1,1000&family=Playball&display=swap');

.form-text {
    border: 1px dotted red;
}
.admin-login {
    /* border: 2px solid yellow; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/admin-back.jpg");

}

.admin-login-sec1 {
    padding: 20px;
    /* border: 2px solid blue; */
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 20px 0px #3e87c3;
    gap: 50px;
}

.admin-sec-left {
    /* border: 2px solid red; */
    flex: 1;
    background-color: whitesmoke;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

.admin-login-logo {
    width: 25%;
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.admin-login-img {
    width: 100%;
    flex: 5;
    /* border: 2px solid red; */
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.admin-login-img img {
    margin-top: -125px;
    /* border: 2px solid red; */

}

.admin-sec-right {
    /* border: 2px solid yellow; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.admin-container {
    /* border: 2px solid blue; */


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.admin-container-top {
    flex: 2;
    /* border: 2px solid yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.admin-container-top-1 {
    /* border: 2px solid yellow; */
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.admin-container-top-2 {
    /* border: 2px solid yellow; */
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.admin-container-mid {
    flex: 4;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px orangered solid; */
}

.logbutton {
    /* border: red 2px solid; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.admin-container-bottom {
    flex: 1;
    /* border: 1px  black solid; */
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-container-last {
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    height: 40px;
    font-size: 15px;
}

.admin-container-last a {
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}

.form-label {
    display: flex;
    justify-content: flex-start;
}

.admin-container-last-signup {
    /* border: 2px red solid; */
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* height: 100px; */
    margin-top: 20px;
}

.admin-container-last-signup p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-login-img1 {
    display: none;
}

@media screen and (max-width:900px) {
    .admin-login-sec1 {
        gap: 0;
    }

    .admin-sec-left {
        gap: 20px;
    }

    .admin-login-sec1 {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;

        gap: 50px;
    }

    .admin-sec-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .admin-login-logo {
        margin-top: 30px;
    }

    .admin-login-img {
        display: none;
    }

    .admin-login-img1 {
        display: block;
        width: 100%;
    }

    .admin-login-img1-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 60px;
        font-family: 'Nunito', sans-serif;
        font-family: 'Playball', cursive;
    }
}

.btncolor {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: rgb(41, 93, 207);
}

.btncolor:hover {
    background-color: rgb(28, 88, 218);
    color: white;
}

@media screen and (max-width:489px) {
    .admin-login-img1-inner {

        font-size: 40px;

    }


}

@media screen and (max-width:576px) {
    .admin-container-top-2 {
        font-size: 20px;
    }

    .admin-login-img1-inner {

        font-size: 40px;

    }

    .admin-login-sec1 {
        gap: 20px;
    }
}