.nav_page {
    font-size: 25px;
    width: 100vw;
    background-color: #f8f9fa;
    height: 6vw;
}
.logo {
    height: 80px;
}
.navbar_items{
    /* margin: 0px 20px; */
    color: violet;
}
#next_line {
    text-align: center;
    width: 200px;
    padding: 0px 4px;
}