.od-cont {
    background-color: rgb(170 217 255 / 50%);
    ;
    border-radius: 13px;
    transition: 0.2s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #3e87c3;
    display: flex;
    justify-content: space-between;
    transition: 0.1s;
    /* border: 2px solid black; */
    padding: 15px;

}

.od-cont:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px -5px #3e87c3;
}

.od-sec-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    height: 200px;
    width: 50%;
}

.od-sec-1 button {
    color: white;
    font-size: 20px;
    /* padding: 1rem 0rem; */

    /* margin: 2rem 0rem 2rem 0px; */
    width: 9rem;
    ;
    height: 3rem;
    border-radius: 13px;
    background-color: #3e87c3;
    font-family: Open Sans;
    font-weight: 400;
    ;
}

.od-sec-2 button {
    color: white;
    font-size: 25px;
    padding: 1rem 0rem;

    /* margin: 2rem 0rem 2rem 0px; */
    width: 13rem;
    ;
    border-radius: 13px;
    background-color: #3e87c3;
    font-family: Open Sans;
    font-weight: 400;
    ;
}

.od-sec-1-p1 {
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
}

.od-sec-1-p2 {
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
}

.od-sec-1-p3 {
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
}

.od-sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    width: 50%;
}

.od-sec-2-p1 {
    flex: 1;
    display: flex;
    align-items: center;
    ;
}

.od-sec-2-p2 {
    flex: 1;
    display: flex;
    align-items: center;
    ;
}

@media screen and (max-width:657px) {
    .od-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .od-sec-1 {
        height: auto;
        width: 90%;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    .od-sec-2 {
        width: 90%;
        gap: 5px;
    }

    .od-sec-1-p1 {
        flex: 0;
    }

    .od-sec-1-p2 {

        flex: 0;
    }

    .od-sec-1-p3 {
        flex: 0;

    }
}