.logo {
  height: 80px;
  width: 300px;
}



.navbar_items {
  padding: 10px;
}


.dropdown-menu-left-user {
  position: absolute;
  top: 100%;
  left: 0;

  margin-left: -100px;
  border-radius: 1rem;
  background-color: #f8f9fa;
  ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

@media screen and (max-width:1100px) {
  .dropdown-menu-left-user {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 1rem;
    background-color: #f8f9fa;
    ;
    margin-left: 0;
    padding: 0;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  .logo {
    height: 80px;
    width: 260px;
  }

}