.nav_page {
    font-size: 25px;
    width: 100vw;
    /* background-color: #f8f9fa; */
    height: 6vw;
}
.logo {
    height: 80px;
}
.navbar_items{
    /* margin: 0px 20px; */
    margin: 30px 20px 0px 20px;
}
#next_line {
    text-align: center;
    width: 200px;
    padding: 0px 4px;
}


.dropdown-menu-left-user {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -25px;
    margin-left: -100px;
    border-radius: 1rem;
    background-color:#f8f9fa;;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  .dropdown-menu-left-user::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }
  
  .dropdown-menu-left-user::after {
    content: "";
    position: absolute;
    top: -22px;
    left: 80%;
    transform: translateX(-50%);
    border-width: 11px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
  }
  
  .dropdown-item.profile-link:hover a {
    background-color: red !important;
  }
  