.od-cont-admin-subscription {
    background-color: rgb(170 217 255 / 50%);
    ;
    border-radius: 13px;
    transition: 0.2s;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3e87c3;
    display: flex;
    justify-content: space-between;
    transition: 0.1s;
    padding: 15px;
    border: 2px solid black;
    transition: all 500ms ease;
}

.od-cont-admin-subscription:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px -5px #3e87c3;
}

.od-sec-1-admin-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 50%;
}

.od-sec-1-admin1-subscription {
    /* margin:40px; */
    /* padding:40px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.od-sec-2-admin1-subscription {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.od-sec-1-p3-admin1-subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: none;

}

.od-sec-1-p3-admin1-subscription button {
    border: none;

}

.completeb-subscription {
    width: 100%;
    background-color: rgb(145, 231, 32);
    color: rgb(0, 0, 0);
    height: 60px;
    font-size: 25px;
    font-weight: 500;
}

.progressb-subscription {
    width: 100%;
    background-color: #ffff00;
    color: rgb(0, 0, 0);
    height: 60px;
    font-size: 25px;
    font-weight: 500;
}

.detailsb-subscription {
    width: 100%;
    background-color: #199cf1;
    color: rgb(0, 0, 0);
    height: 60px;
    font-size: 25px;
    font-weight: 500;
}

.od-sec-1-p1-admin-subscription {
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
}

.od-sec-1-p2-admin-subscription {
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    align-items: center;
}

.od-sec-1-p3-admin-subscription {
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    /* justify-content: center;
    flex-direction: row; */
    align-items: center;
}

.od-sec-1-p3-x1-admin-subscription {
    display: flex;
    flex: 1;
    margin-right: 1rem;
}

.od-sec-1-p3-x2-admin-subscription {
    display: flex;
    flex: 1;
    margin-left: 1rem;
}

.od-sec-2-admin-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    width: 50%;
}

.od-sec-2-p1-admin-subscription {
    flex: 1;
    display: flex;
    align-items: center;
    ;
}

.od-sec-2-p2-admin-subscription {
    flex: 1;
    display: flex;
    align-items: center;
    ;
}

.popup-bag-admin-subscription {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    animation: popup-fade-in 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    animation: popup-fade-in 0.3s ease-in-out;
}


.popup-bag-content-admin-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #3e87c3;
    position: relative;
}

.bag-close-btn-admin-subscription {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.popup-bag-content-admin-subscription .success-icon-subscription {
    animation: rotate-in 0.5s;
    margin-bottom: 20px;
}

.od-sec-2-amount-admin-subscription {
    font-style: italic;
    color: black;
}

.od-cont-admin1-subscription {
    /* width:60%;
    margin: auto;
    margin-top: 40px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 233, 238);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    transition: all 500ms ease;
}


.od-sec-1-p1-admin1-subscription h2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 40px;
}

.statusclass-subscription {
    color: black;
    font-weight: bold;
}

.od-sec-1-p2-admin1-subscription h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;

}

.nameclass-subscription {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}

.od-sec-2-amount-admin1-subscription h3 {
    color: rgb(145, 231, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.burger-subscription {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    height: 30px;
}

.burger-subscription:hover {
    cursor: pointer;
}

.expand-details-subscription {
    display: block;
    gap: 20px;
    height: 200px;
    transition: all 500ms ease;
    margin: auto;

}

.expandcontent-subscription {
    color: black;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.hide-subscription {
    height: 0px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width:414px) {
    .od-sec-1-p1-admin1-subscription h2 {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 33px;
    }

}