* {
  padding: 0;
  margin: 0;
}



.main-footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: black;
  border: 2px solid black;
  display: flex;
  flex-direction: column;

}

.footer-cont {
  margin: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.foot-details {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-sec-1 {
  width: 100%;
}

.foot-title {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #3e87c3;
}

.foot-title h1 {}

.foot-title img {
  height: 75px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-sec-2 {

  color: #3e87c3;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.footer-small-text a {
  color: #3e87c3;

  display: flex;
  align-items: flex-start;

}

.footer-small-text a:hover {
  text-decoration: none;
  color: #fff;
}

.footer-small-text {
  margin: 1rem;
  font-size: 25px;
}

.footer-small-text:first-child {}


.footer-small-text .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-sec-2 {

  padding-top: 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media screen and (max-width:647px) {
  .footer-small-text {
    margin: 1rem;
    font-size: 20px;
  }
}

@media screen and (max-width:623px) {
  .foot-details {
    font-size: 10px;
  }
}

@media screen and (max-width:523px) {
  .footer-small-text {
    margin: 1rem;
    font-size: 16px;

  }


}

@media screen and (max-width:427px) {
  h3 {
    font-size: 17px;
    margin-bottom: 20px;
  }


}