.dashboard-cont-admin-support {
    color: #3e87c3;
    font-family: Open Sans;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.dash-head-admin-support {
    font-size: 50px;
    font-weight: 400;
    color: #3e87c3;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner {
    font-size: 50px;
    border-bottom: 5px solid #3e87c3;
}



.dash-order-1-admin-support {
    margin: 2rem 1.5rem;
}