.homepage {
    min-height: 80vh;
}

.row1 {
    display: flex;
    margin-top: 20px;
}

.col1 {
    width: 50%;
    display: flex;
    margin: auto;

}

.col2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-Size: 27px;
}

.btn-primary {
    font-Size: 26px;
    padding: 1rem;
    width: 16rem;
    border-radius: 10px;
    background-color: #3e87c3;
    border-radius: 10px;


}

.hidee {
    display: none;
}

.headingl {
    font-size: 75px;
    font-weight: bold;
    color: #3e87c3;
}

@media screen and (min-width:1300px) {
    .col1 {
        width: 40%;
    }
}

@media screen and (max-width:1077px) {
    .row1 {
        flex-direction: column;
        margin-top: 10px;
    }

    .col1 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .col2 {
        width: 100%;
    }

    .hidee {
        display: block;
        display: flex;
        font-size: 40px;
        font-weight: bold;
        color: #3e87c3;

        justify-content: center;
        align-items: center;
    }

    .card-title {
        display: none;
    }
}

@media screen and (max-width:577px) {
    .col1 img {
        width: 50%;
        border-radius: 30%;
    }

    .card-text {
        font-size: 16px;
    }
}